<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <meta charset="utf-8">
    <title>Happy Cow</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto+Slab:700|Slabo+27px" rel="stylesheet">  </head>
  <body>
    <header>
      <!-- <nav ng-controller="NavigationController as navCtrl"> -->
        <!-- <ul class="nav">
          <li ng-repeat="route in navCtrl.routes">
            <a href="{{ route.url }}">{{ route.name }}</a>
          </li>
        </ul> -->
      <!-- </nav> -->
    </header>
    <main>
      <div class="title">
        <h1 ng-controller="CowsayController as cowsayCtrl">{{ cowsayCtrl.title }}</h1>
      </div>
      <div class="about">
        <p>Hello there! What would you like to say? Just select who you want from the dropdown menu and type what you would like to have it say.</p> <br>
        <p class="two">Hit the SPEAK button to have it saved below. Hit the UNDO button to go back to your previous selection.</p>
      </div>
      <section
        ng-controller="CowsayController as cowsayCtrl"
        ng-init="cowsayCtrl.current = 'elephant'">

        <pre>
          {{ cowsayCtrl.update(cowsayCtrl.text) }}
        </pre>

        <form
          ng-submit="cowsayCtrl.speak(cowsayCtrl.text)"
          name="cowsayForm"
          novalidate="true">
          <select name="cowOptions" ng-model="cowsayCtrl.current">
            <option ng-repeat="cow in cowsayCtrl.cowfiles" value="{{ cow }}">{{ cow }}</option>
          </select>

          <input placeholder="What shall I say?" type="text" ng-model="cowsayCtrl.text" required>
          <button type="submit" name="speak">SPEAK!</button>

        </form>

        <div ng-show="cowsayCtrl.history.length">
          <pre>
            {{ cowsayCtrl.currentCow }}
          </pre>
          <button type="submit" name="undo" ng-click="cowsayCtrl.undo()">UNDO</button>
        </div>

      </section>
    </main>

    <footer>
      <div class="container">
            <div class="row">
                    <h4><strong>Kayla Asay</strong>
                    </h4>
                    <ul>
                        <li class="email">Email: <a href="mailto:kayla@kayla-asay.com">kayla@kayla-asay.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                      <li>
                        <a href="https://www.linkedin.com/in/kaylaasay/"><img src="./img/linkedin.svg"></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/asay_dev"><img src="./img/twitter.svg"></a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/kayla.asay.9"><img src="./img/facebook2.svg"></a>
                      </li>
                    </ul>
                    <p class="text-muted">Copyright &copy; kayla-asay.com 2017</p>
            </div>
        </div>
    </footer>
  </body>
</html>
